/* Notificação */

.notify {
    display: none !important;
    background-color: dodgerblue;
    color: rgb(167, 167, 167);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.progress-cover {
    display: none !important;
    background-color: lightgray;
    height: 5px;
    width: 100%;
}

.progress-content {
    background-color: rgb(0, 255, 115);
    height: 5px;
    width: 0%;
}

.close-notify {
    z-index: 1;
    padding: 5px;
    margin-left: 10px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

#notify-string {
    color: white;
}

.modal section {
    background-color: transparent !important;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    margin-top: 0px !important;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    box-shadow: 2px 1px 8px rgba(12, 7, 7, 0.837);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    height: 63%;
    border-radius: 20px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-fechar-modal {
    display: none;
    background-color: white !important;
    border: 1px solid #222d38 !important;
    color: #222d38 !important;
    white-space: nowrap;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 0;
    font-size: 14pt;
}

.input-fields input {
    width: 90%;
    text-transform: capitalize;
    padding: 14px;
}

.dual-input {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 98%;
}

.divider {
    color: #000;
    border: solid 2px #e0e3eb;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0;
    width: 99%;
}

.divider-field {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-field {
    display: flex;
    justify-content: center;
}

#btn-modal {
    width: 98%;
    text-align: center;
    font-size: 10pt;
}

#modal-title {
    font-size: 1.5rem;
    color: #34477a;
    margin-bottom: 0;
    text-align: center;
}

.modal .modal-content {
    margin-top: 30px !important;
    color: #333;
}


/*    Media Queries  */

@media only screen and (max-width: 1366px) {
    .modal-content {
        height: 73%;
    }
    .modal .modal-content {
        margin-top: 10px !important;
    }
    .modal-content {
        width: 35%;
    }
}

@media only screen and (max-width: 1280px) {
    .modal-content {
        height: 73%;
    }
    .modal .modal-content {
        margin-top: 1px !important;
    }
    #modal-title {
        margin-bottom: 7px;
    }
    .modal-content p {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .modal-content p {
        display: none;
    }
    #campo-obrigatorio {
        margin-top: 5px;
    }
    .modal .modal-content {
        width: 80%;
        height: 82%;
        margin-top: -50px !important;
    }
    .btn-primary {
        margin-bottom: 0 !important;
    }
    #btn-modal {
        width: 98%;
        text-align: center;
        font-size: 14pt;
    }
    .btn-fechar-modal {
        display: block;
    }
    .close {
        display: none;
    }
}

#close-button {
    position: relative;
    left: 100%;
    width: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 15px;
}

#close-button:hover {
    color: dodgerblue;
}

input {
    padding: 15px;
    margin: 4px !important;
    border: none;
    border-radius: 5px;
    width: 90%;
    background-color: #f6fafd;
    border: 2px solid #e0e3eb;
}

input::placeholder {
    font-weight: bold;
}

textarea {
    overflow: auto !important;
    vertical-align: top !important;
    margin: 3px !important;
    width: 96% !important;
    height: 50px !important;
    background-color: #f6fafd;
    border: 2px solid #e0e3eb;
}

textarea::placeholder {
    font-weight: bold;
    resize: none;
}

.popup h1 {
    font-size: 2.4em;
    margin: 0;
}

#obs {
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .popup {
        position: fixed !important;
        top: 2% !important;
        bottom: 8%;
        left: 4% !important;
        right: 50%;
        width: 78% !important;
        height: 85% !important;
        padding: 30px !important;
        padding-top: 20px !important;
        background-color: #fff !important;
        border-radius: 8px !important;
        box-shadow: 7px 10px 40px dodgerblue !important;
        display: none;
        overflow-y: auto !important;
        z-index: 99999;
    }
    input {
        padding: 15px;
        margin: 8px !important;
        border: none;
        border-radius: 5px;
        width: 85%;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    textarea {
        overflow: auto !important;
        vertical-align: top !important;
        margin-left: 5px !important;
        width: 95% !important;
        height: 40px !important;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
}

@media only screen and (max-width: 1366px) {
    .popup {
        position: fixed;
        top: 15%;
        bottom: 50%;
        left: 35%;
        right: 50%;
        width: 465px;
        height: 70vh;
        padding: 35px;
        padding-top: 10px;
        background-color: #fff !important;
        border-radius: 8px;
        box-shadow: 7px 10px 40px rgba(30, 143, 255, 0.474);
        display: none;
        z-index: 99999;
    }
    .popup h1 {
        font-size: 1.4em;
        margin: 0;
    }
    section p {
        font-size: 14px;
        text-align: justify;
        font-family: var(--fonte), 'robotolight', sans-serif;
        color: #444;
    }
    input {
        padding: 11px;
        margin: 4px !important;
        border: none;
        border-radius: 5px;
        width: 90%;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    textarea {
        overflow: auto !important;
        vertical-align: top !important;
        margin-left: 5px !important;
        width: 95% !important;
        height: 40px !important;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    #popup-subtitle {
        display: none;
    }
    #obs {
        display: none;
    }
    .popup b {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    .popup {
        position: fixed;
        top: 15%;
        bottom: 50%;
        left: 35%;
        right: 50%;
        width: 465px;
        height: 76vh;
        padding: 35px;
        padding-top: 10px;
        background-color: #fff !important;
        border-radius: 8px;
        box-shadow: 7px 10px 40px rgba(30, 143, 255, 0.474);
        display: none;
        z-index: 99999;
    }
    .popup h1 {
        font-size: 1.4em;
        margin: 0;
    }
    #cell {
        display: none;
    }
    #descricao-form {
        margin: 0;
    }
    section p {
        font-size: 14px;
        text-align: justify;
        font-family: var(--fonte), 'robotolight', sans-serif;
        color: #444;
    }
    input {
        padding: 11px;
        margin: 4px !important;
        border: none;
        border-radius: 5px;
        width: 90%;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    textarea {
        overflow: auto !important;
        vertical-align: top !important;
        margin-left: 5px !important;
        width: 95% !important;
        height: 40px !important;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    #popup-subtitle {
        display: none;
    }
    #obs {
        display: none;
    }
    .popup b {
        display: none;
    }
}

@media only screen and (max-width: 1440px) {
    .popup {
        position: fixed;
        top: 15%;
        bottom: 50%;
        left: 35%;
        right: 50%;
        width: 465px;
        height: 76vh;
        padding: 35px;
        padding-top: 10px;
        background-color: #fff !important;
        border-radius: 8px;
        box-shadow: 7px 10px 40px rgba(30, 143, 255, 0.474);
        display: none;
        z-index: 99999;
    }
    .popup h1 {
        font-size: 1.4em;
        margin: 0;
    }
    #cell {
        display: none;
    }
    #descricao-form {
        margin: 0;
    }
    section p {
        font-size: 14px;
        text-align: justify;
        font-family: var(--fonte), 'robotolight', sans-serif;
        color: #444;
    }
    input {
        padding: 7px 11px;
        margin: 4px !important;
        border: none;
        border-radius: 5px;
        width: 90%;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    textarea {
        overflow: auto !important;
        vertical-align: top !important;
        margin-left: 5px !important;
        width: 95% !important;
        height: 40px !important;
        background-color: #f6fafd;
        border: 2px solid #e0e3eb;
    }
    #popup-subtitle {
        display: none;
    }
    #obs {
        display: none;
    }
    .popup b {
        display: none;
    }
}

.thumbnails-main li .botao,
.thumbnails-main li .botao-cotar {
    padding: 5px 10px;
    color: #FFF;
    margin: auto;
    font-size: 14px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 0 30px 15px;
    justify-content: center
}

.thumbnails-main li .botao-cotar {
    background: #F98C18;
    text-decoration: none
}

.thumbnails-main li .botao-cotar:hover {
    background-color: #167ac6
}

.thumbnails li .botao,
.thumbnails li .botao-cotar {
    padding: 5px 5px;
    color: #fff;
    margin: auto;
    font-size: 14px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 0 20px 5px;
    justify-content: center
}

.thumbnails li .botao-cotar {
    background: #3498db;
    text-decoration: none;
    border-radius: 5px
}

.thumbnails li .botao-cotar:hover {
    background-color: #3498db
}

.thumbnails-2 li .botao,
.thumbnails-2 li .botao-cotar {
    padding: 5px 10px;
    color: #FFF;
    margin: auto;
    font-size: 14px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center
}

.thumbnails-2 li .botao-cotar {
    background: #F98C18;
    text-decoration: none
}

.thumbnails-2 li .botao-cotar:hover {
    background-color: #167ac6
}

a.botao-cotar {
    padding: 5px 38%
}

a.botao-cotar {
    padding: 10px 15px;
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-align: center;
    background-color: #3498db;
    cursor: pointer;
    border-radius: 5px
}

a.botao-cotar:hover {
    background-color: #3498db
}

.botao-cotar-destaque {
    padding: 13px 85px;
    color: #FFF;
    font-size: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    background-color: #F98C18;
    text-decoration: none;
    float: left
}

.botao-cotar-destaque:hover {
    background-color: #469b42
}

.thumbnails li .botao,
.thumbnails li .botao-cotar {
    position: relative;
    margin: 10px auto;
    justify-content: center
}

.thumbnails a {
    text-decoration: none;
    display: flex;
    width: 150px;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}